<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_password</key>
	<string>苹果账号密码</string>
	<key>to_addr</key>
	<array>
		<string>送达邮箱的账号</string>
	</array>
	<key>app_username</key>
	<string>苹果账号</string>
	<key>fir_api_token</key>
	<string>fir上产的token</string>
	<key>project_path</key>
	<string>项目的目录</string>
	<key>project</key>
	<string>项目的名字</string>
	<key>from_addr</key>
	<string>邮件账号信息</string>
	<key>password</key>
	<string>邮件账号token密码</string>
	<key>smtp_server</key>
	<string>邮件服务</string>
</dict>
</plist>
